
footer {
    display: flex;
    width: 100%;
    height: 48px;
    background-color: #AACE9B;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    flex-direction: column;
}

.social-media {
    margin-top: 8px;

}

.social-media img {
    margin: 0 10px;

}

/* footer a {
    margin-right: 16px;
    text-decoration: none;
} */