/* Body */

body {
    font-family: 'Be Vietnan Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    background-color : #373867;
    position: fixed;
    top: 0;
    width: 1512px; /* width: 100%;*/
    height: 98px;
}

header img {
    padding-top: 28px;
    padding-left: 28px;
}

/* Sidebar */

aside {
    position: fixed;
    top: 98px;
    left: 0;
    width: 313px;
    height: 982px; /*height: 100%;*/
    background-color: #AACE9B;
}

.btn-aside {
    background: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #373867;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 17px;
    width: 263px;
    height: 38px;
    display: inline-block;/*display: block;*/
    padding-top: 11px;
}

.btn-aside img {
    margin-right: 10px;
    margin-left: 79px;
    height: 19px;
    width: 19px;
}

.list-aside {
    list-style: none;
    margin-left: 0;
}

.contact-information {
    font-family: 'Roboto';
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 66px;
    margin-top: 481px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-weight: bold;
}

.list-aside-contact {
   padding-bottom: 23px;
   font-family: 'Roboto';
    font-size: 20px;
    text-decoration: none;
    color: #373867;
}

.list-aside-contact img {
    margin-right: 17px;
    height: 15px;
    width: 15px;
    margin-left: 34px;
 }

.mail-underline {
    text-decoration: underline;
    color: #373867;
}

/* Main*/

.main-pos { /* this could be done without a class */
    margin-top: 163px;
    margin-left: 313px;
}

/* Welcome */

.welcome-section h1 {
    font-family: 'Roboto';
    font-size: 40px;
    color: #373867;
    text-decoration: none;
    font-weight: bold;
    margin-top: 54px;
    margin-left: 135px;
}

.wel-subheader {
    margin-left:255px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #49A37B;
}

.intro-p {
    margin-left: 74px;
    margin-top: 34px;
    width: 488px;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    color: #373867;
}

.first-section-text {
    display: inline-block; /*float: left;*/
    vertical-align: top;
}

.presentation-img {
    width: 500px;
    margin-left: 61px;
}

/*Features */

.features-section {
    display: inline-block;
    margin-top: 65px;
    margin-left: 112px;
    margin-bottom: 41px;
    height: 469px;
    width: 959px; /*no sabia si usarlo pero me sirve para darle limite al costado derecho*/
}

.features-section h2 {
    text-align: center;
    margin-bottom: 53px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    color: #373867;
    text-decoration-line: underline;
    text-decoration-color: #49A37B;
    text-decoration-thickness: 3px;
}

.features-section h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    color: #373867;
}

.features-section img {
    height: 38px;
    width: 43px;
}

.feature-article {
    display: inline-block;
    width: 477px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #373867;
    /*margin-left: 15px;*/
}

.feature-article h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    color: #373867;
    width: 300px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;

}

.feature-article p {
    margin-left: 58px;
    margin-top: 29px;
    width: 355px;
    margin-bottom: 24px;
}

/* About Mega Rockets */

.about-section {
    height: 610px;
    width: 1026;
    margin-left: 87px;
}

.about-section h2 {
    margin-bottom: 51px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    color: #373867;
    text-decoration-line: underline;
    text-decoration-color: #49A37B;
    text-decoration-thickness: 3px;
    text-align: center;
    width: 1026px;
}

.about-first img {
    width: 453px;
    height: 248px;
    margin-right: 19px;
    margin-bottom: 24px;
}

.about-first p {
    display: inline-block;
    width: 558px;
    vertical-align: top;
    text-align: right;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
    color: #373867;
    margin-top: 37px;
}

.about-second img {
    width: 453px;
    height: 248px;
    margin-right: 19px;
    margin-bottom: 24px;
}

.about-second p {
    display: inline-block;
    width: 558px;
    vertical-align: top;
    text-align: left;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
    color: #373867;
    margin-top: 37px;
}

/* Get in touch */

.get-touch-section {
    width: 900px;
    height: 387px;
    margin-left: 150px;
    margin-top: 41px;
}

.get-touch-section h2 {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    color: #373867;
    text-decoration-line: underline;
    text-decoration-color: #49A37B;
    text-decoration-thickness: 3px;
}

.get-touch-section label {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #373867;
    display: block;
    margin-bottom: 7px;

}

.left-get {
    display: inline-block;
    width: 334px;
}

.personal-data-input {
    height: 37px;
    width: 260px;
    border: 1px solid #373867;
    border-radius: 5px;
    margin-bottom: 23px;
}

.submit-input {
    width: 123px;
    height: 47px;
    background: #AACE9B;
    border-radius: 5px;
    border: 0;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #373867;
}

.right-get {
display: inline-block;
vertical-align: top;
}

.right-get select {
    width: 562px;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
    margin-bottom: 23px;
}

.right-get textarea {
    width: 550px;
    height: 191px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.get-touch-section ::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #373867;
    opacity: 0.5;
}

/* Activities */

.activities-section {
    width: 934px;
    height: 346px;
    margin-top: 65px;
    margin-left: 133px;
}

.activities-section h2 {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    color: #373867;
    text-decoration-line: underline;
    text-decoration-color: #49A37B;
    text-decoration-thickness: 3px;
}

.activities-section ul {
    list-style: disc;
    display: inline-block;
    margin-top: 22px;
    color: #373867;
    font-weight: bold;
    font-size: 24px;
    width: 290px;
    vertical-align: top;
}

.activities-section ul li {
    margin-bottom: 14px;
}

.activities-section img {
    width: 636px;
    height: 245px;
}

/* Membership */

.membership-section {
    width: 982px;
    height: 394px;
    margin-left: 109px;
    margin-top: 65px;
    margin-bottom: 65px;
}

.membership-section h2 {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    color: #373867;
    text-decoration-line: underline;
    text-decoration-color: #49A37B;
    text-decoration-thickness: 3px;
}

.membership-table {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #373867;
}

.column-first {
    width: 381px;
    height: 58px;
    vertical-align: middle;
}

.column-rest {
    width: 200px;
    height: 58px;
    vertical-align: middle;
}

.row-grey {
    background-color: #D9D9D9;
}

.row-white {
    background-color: #FFFFFF;
}

/* Footer */

footer {
    display: block;
    width: 1200px;
    height: 72px;
    margin-left: 313px;
    padding-top: 8px;
    background-color: #AACE9B;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

footer a {
    margin-right: 16px;
    text-decoration: none;
}