<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MegaRocket</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/aside.css" />
    <link rel="stylesheet" href="../css/contain.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/login.css" />
  </head>

  <body>
    <header>
      <img
        class="logo-left"
        src="../../assets/imgs/logo-mega-rocket.png"
        alt="Logo MegaRocket"
      />
      <img
        class="burguer-menu"
        src="../../assets/imgs/burguer.svg"
        alt="Menu"
      />
    </header>
    <div class="general-container">
      <aside>
        <nav>
          <ul class="list-aside">
            <li>
              <a href="index.html" class="btn-aside">
                <img src="../../assets/imgs/home.svg" alt="Home" />
                Home
              </a>
            </li>
            <li>
              <a href="sign-up.html" class="btn-aside">
                <img src="../../assets/imgs/sign-up.svg" alt="Sign Up" />
                Sign Up
              </a>
            </li>
            <li>
              <a href="login.html" class="btn-aside">
                <img src="../../assets/imgs/sign-in.svg" alt="Sign In" />
                Sign in
              </a>
            </li>
          </ul>
        </nav>
        <div class="contact-information-container">
          <h2 class="contact-information">Contact information</h2>
          <ul class="list-aside">
            <li class="list-aside-contact">
              <a href="mailto:information@untitled.tld" class="mail-underline">
                <img src="../../assets/imgs/mail.svg" alt="Mail" />
                information@untitled.tld
              </a>
            </li>
            <li class="list-aside-contact">
              <img src="../../assets/imgs/phone.svg" alt="Contact" />
              (000)000-0000
            </li>
            <li class="list-aside-contact">
              <img src="../../assets/imgs/ubication.svg" alt="Location" />
              1234 Somewhere Road #8254 Nashville, TN
            </li>
          </ul>
        </div>
      </aside>
      <div class="content-container">
        <main class="main-pos">
          <section class="login-section">
            <h2>Login</h2>
            <form action="form_submit.php" method="post">
              <div class="login-first">
                <label for="username"> Username </label>
                <input
                  class="personal-data-input"
                  type="text"
                  id="username"
                  name="username"
                  placeholder="Enter username"
                />
                <label for="Password"> Password </label>
                <input
                  class="personal-data-input"
                  type="password"
                  id="Password"
                  name="Password"
                  placeholder="Enter password"
                />
              </div>
              <div class="login-second">
                <a href="recover-password.html" class="mail-underline">
                  Forgot your Password?
                </a>
                <input
                  class="submit-input-login"
                  type="submit"
                  value="Submit"
                />
              </div>
            </form>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
