<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MegaRocket</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/aside.css" />
    <link rel="stylesheet" href="css/contain.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>

  <body>
    <header>
      <img
        class="logo-left"
        src="../assets/imgs/logo-mega-rocket.png"
        alt="Logo MegaRocket"
      />
      <img class="burguer-menu" src="../assets/imgs/burguer.svg" alt="Menu" />
    </header>
    <div class="general-container">
      <aside>
        <nav>
          <ul class="list-aside">
            <li>
              <a href="#" class="btn-aside">
                <img src="../assets/imgs/home.svg" alt="Home" />
                Home
              </a>
            </li>
            <li>
              <a href="#" class="btn-aside">
                <img src="../assets/imgs/sign-up.svg" alt="Sign Up" />
                Sign Up
              </a>
            </li>
            <li>
              <a href="#" class="btn-aside">
                <img src="../assets/imgs/sign-in.svg" alt="Sign In" />
                Sign in
              </a>
            </li>
          </ul>
        </nav>
        <div class="contact-information-container">
          <h2 class="contact-information">Contact information</h2>
          <ul class="list-aside">
            <li class="list-aside-contact">
              <a href="mailto:information@untitled.tld" class="mail-underline">
                <img src="../assets/imgs/mail.svg" alt="Mail" />
                information@untitled.tld
              </a>
            </li>
            <li class="list-aside-contact">
              <img src="../assets/imgs/phone.svg" alt="Contact" />
              (000)000-0000
            </li>
            <li class="list-aside-contact">
              <img src="../assets/imgs/ubication.svg" alt="Location" />
              1234 Somewhere Road #8254 Nashville, TN
            </li>
          </ul>
        </div>
      </aside>
      <div class="content-container">
        <main class="main-pos">
          <section class="get-touch-section">
            <h2>Get in touch</h2>
            <form action="form_submit.php" method="post">
              <div class="left-get">
                <label for="first-name"> First name </label>
                <input
                  class="personal-data-input"
                  type="text"
                  id="first-name"
                  name="first-name"
                  placeholder="Enter name"
                />
                <label for="last-name"> Last name </label>
                <input
                  class="personal-data-input"
                  type="text"
                  id="last-name"
                  name="last-name"
                  placeholder="Enter last name"
                />
                <label for="Email"> Email adress </label>
                <input
                  class="personal-data-input"
                  type="text"
                  id="Email"
                  name="Email"
                  placeholder="Enter email"
                />
                <input
                  class="submit-input-desktop"
                  type="submit"
                  value="Submit"
                />
              </div>
              <div class="right-get">
                <label for="Contact"> Contact reason </label>
                <select id="Contact" name="Contact">
                  <option value="" disabled selected hidden>
                    Choose contact reason
                  </option>
                  <option value="reason1">reason 1</option>
                  <option value="reason2">reason 2</option>
                  <option value="reason3">reason 3</option>
                </select>
                <label for="Message"> Message </label>
                <textarea
                  placeholder="Enter you message"
                  name="description"
                  id="Message"
                  name="Message"
                >
                </textarea>
                <input class="submit-input-mob" type="submit" value="Submit" />
              </div>
            </form>
          </section>
        </main>
      <footer>
        <div class="social-media">
          <a href="https://www.linkedin.com/MegaRocket">
            <img src="../assets/imgs/linkedin.svg" alt="LinkedIn logo" />
          </a>
          <a href="https://www.facebook.com/MegaRocket">
            <img src="../assets/imgs/facebook.svg" alt="Facebook logo" />
          </a>
          <a href="https://www.instagram.com/MegaRocket">
            <img src="../assets/imgs/instagram.svg" alt="Instagram logo" />
          </a>
        </div>
        <span> Copyright © 2022 Radium Rocket. All rights reserved. </span>
      </footer>
      </div>
    </div>
  </body>
</html>
